<h2>Perguntas <span>Frequentes</span></h2>
<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        O que é a assinatura de assessoria jurídica por assinatura?
      </mat-expansion-panel-header>
      assinatura de assessoria jurídica por assinatura é um serviço que oferece acesso a consultas e orientações jurídicas através da internet por um valor muito mais acessível do que escritório de advocacia tradicional. Nossos advogados qualificados fornecem suporte legal para questões cotidianas, esclarecendo dúvidas e oferecendo soluções para problemas legais.
    </mat-expansion-panel>
  
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Quais são os benefícios de contratar uma assinatura de assessoria jurídica online?
      </mat-expansion-panel-header>
      Ao adquirir uma assinatura, você terá acesso ilimitado a consultas jurídicas, sem se preocupar com cobranças adicionais por hora ou por consulta. Além disso, nossa plataforma online permite que você receba assistência jurídica em qualquer local, seja no seu escritório, em trânsito ou até mesmo na sua casa, economizando tempo e recursos.
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
        Como funciona o serviço de assinatura? 
        </mat-expansion-panel-header>
        Ao se inscrever em nossa plataforma, você terá acesso a uma equipe de advogados experientes, prontos para responder suas perguntas jurídicas. Você pode enviar suas dúvidas e questões através de mensagens privadas ou realizar consultas via videochamada, conforme sua preferência.
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
            Que tipos de questões jurídicas são cobertas pela assinatura?
        </mat-expansion-panel-header>
        Nossa assessoria jurídica online abrange uma ampla variedade de áreas do direito, incluindo direito civil, trabalhista, consumidor, família, empresarial, entre outras. Esteja você enfrentando problemas com um contrato, questões familiares ou disputas trabalhistas, nossa equipe está aqui para ajudar.
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
            Os advogados são realmente qualificados para fornecer orientação jurídica? 
        </mat-expansion-panel-header>
        Sim, todos os nossos advogados são inscritos na OAB, sendo profissionais altamente qualificados e licenciados. Eles possuem vasta experiência em suas respectivas áreas de atuação e passam por um rigoroso processo de seleção para garantir que você receba orientações jurídicas precisas e confiáveis.</mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
            Quanto tempo leva para obter uma resposta do advogado? 
        </mat-expansion-panel-header>
        Faremos o possível para responder a todas as consultas o mais rápido possível. Normalmente, você pode esperar uma resposta em até 24 horas úteis. No entanto, o tempo de resposta pode variar dependendo da complexidade da questão.
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
        Posso cancelar minha assinatura a qualquer momento? 
        </mat-expansion-panel-header>
        Sim, você pode cancelar sua assinatura a qualquer momento, sem custos adicionais. Basta entrar em contato conosco e solicitar o cancelamento.
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
        A assinatura cobre o representante legal em processos judiciais? 
        </mat-expansion-panel-header>
        Não, a assinatura de assessoria jurídica online não inclui representação legal em processos judiciais. Ela se concentra em fornecer consultas e orientações jurídicas para questões extrajudiciais. Caso seja necessário representação em um processo judicial, podemos discutir opções adicionais.
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
           Como posso pagar pela assinatura? 
        </mat-expansion-panel-header>
        Aceitamos somente cartão de crédito com via física, ou seja, Cartões virtuais não são aceitos por sua curta validade. As informações sobre os planos disponíveis e os métodos de pagamento serão apresentadas durante o processo de adesão a assinatura.
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
           A assinatura se renova automaticamente? 
        </mat-expansion-panel-header>
        Sim, para sua comodidade, a assinatura é renovada automaticamente no final de cada ciclo de faturamento, a menos que você cancele antes da data de renovação. Isso garante que você continue a receber acesso contínuo à nossa assessoria jurídica online.
      </mat-expansion-panel>
      
    
    <!-- ... repita para todas as outras perguntas e respostas ... -->
  
    <p class="describe">
      Caso você tenha alguma outra dúvida que não tenha sido respondida aqui, não hesite em entrar em contato conosco. <br>Estamos prontos para ajudar com todas as suas necessidades jurídicas! <a href="mailto:suporte@brbempresaria.com.br">suporte@brbempresaria.com.br</a>
    </p>
  </mat-accordion>
  