.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #0FB9B1 !important;
}

.mat-form-field-appearance-fill .mat-form-field-label {
    color: #ffffff;
}

.mat-form-field-appearance-fill .mat-form-field-underline::before {
    background-color: #ffffff;
}

.mat-form-field-appearance-fill .mat-form-field-ripple {
    background-color: #ffffff;
}
