<!-- modal.component.html -->
<h2 mat-dialog-title>Contratação de relatório processual</h2>
<mat-dialog-content>
  <p>Preencha o formulário abaixo que analisaremos sua situação e em breve entraremos em contato</p>
  <form [formGroup]="form">
    <mat-form-field *ngFor="let field of formFields">
      <mat-label>{{field.label}}</mat-label> <!-- Aqui utilizamos field.label para o título do campo -->
      <input matInput [formControlName]="field.controlName" [placeholder]="field.label"> 
      <textarea *ngIf="field.isTextArea" matInput [formControlName]="field.controlName" [placeholder]="field.label"></textarea><!-- E também como placeholder -->
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="submit()">Enviar</button>
</mat-dialog-actions>
