<h2 mat-dialog-title>Políticas de Privacidade</h2>
<mat-dialog-content class="custom-scroll">
    TERMO DE POLÍTICA DE PRIVACIDADE brbassessoria CONTABILIDADE ONLINE
1. INTRODUÇÃO
Agradecemos por utilizar a brbassessoria, a primeira contabilidade online do Brasil! Sua confiança é importante para nós e estamos comprometidos em proteger, tanto a sua privacidade quanto a segurança das suas informações pessoais e empresariais conosco compartilhadas. Assim, através deste documento, tornamos clara e transparente nossa Política de Privacidade para o uso do site www.brbassessoria.com.br, do Sistema/software brbassessoria, bem como dos serviços vinculados a eles.
<br><br>
A Política de Privacidade é o nosso compromisso com as pessoas que conosco interagem, e tem como principal objetivo esclarecer como a brbassessoria tratará e protegerá os dados pessoais coletados, garantindo a privacidade dos seus titulares, nos termos das legislações em vigor, regulamentadas pelas leis n. 12.965/2014 (Marco Civil da Internet) e n. 13.709/2018 (Lei Geral de Proteção de Dados ou LGPD).
<br><br>
Caso tenha qualquer dúvida, entre em contato com a brbassessoria através do número telefônico 4020-8283 ou através do e-mail contato@brbassessoria.com.br, inserindo como assunto do e-mail “Política de Privacidade”.
<br><br><br><br>
 

2. DEFINIÇÕES
CLIENTE: pessoa física ou jurídica aceitou as condições do Termo De Uso para utilização do site ou Sistema/software brbassessoria, bem como a pessoa física ou jurídica que contratou os serviços da brbassessoria SERVIÇOS CONTÁBEIS - EIRELI - ME, regularmente inscrita no CNPJ sob nº 17.664.581/0001-69, prestadora de dos serviços de assessoria online contábil, ou da brbassessoria TECNOLOGIA LTDA – ME, regularmente inscrita no CNPJ sob o nº 17.187.385/0001-40, prestadora dos serviços de assessoria online administrativa e fiscal e de licença de uso do Sistema/software brbassessoria nos termos do CONTRATO DE PRESTAÇÃO DE SERVIÇOS E DE LICENÇA DE SOFTWARE, ou outro contrato para serviço pontual;
CONTROLADOR DE DADOS PESSOAIS: é a pessoa natural ou jurídica, de direito público ou privado, a quem competem as decisões referentes ao tratamento de dados pessoais.
DADOS PESSOAIS: qualquer informação sobre pessoa natural identificada ou identificável. Desta forma, dados anonimizados não serão considerados dados pessoais.
DADOS PESSOAIS SENSÍVEIS: dado pessoal sobre origem racial ou étnica, convicção religiosa, opinião política, filiação a sindicato ou a organização de caráter religioso, filosófico ou político, dado referente à saúde ou à vida sexual, dado genético ou biométrico, quando vinculado a uma pessoa natural;
LGPD: Lei nº 13.709/2018, também conhecida como a Lei Geral de Proteção de Dados;
OPERADOR DE DADOS PESSOAIS: é a pessoa natural ou jurídica, de direito público ou privado, que realiza o tratamento de dados pessoais em nome do controlador.
SITE brbassessoria: local na Internet identificado por meio do nome de domínio www.brbassessoria.com.br;
TERCEIROS: qualquer pessoa física ou jurídica não pertencente ou integrante a relação contratual formalizada entre a brbassessoria e os Usuários;
TRATAMENTO: toda operação realizada com dados pessoais, como as que se referem a coleta, produção, recepção, classificação, utilização, acesso, reprodução, transmissão, distribuição, processamento, arquivamento, armazenamento, eliminação, avaliação ou controle da informação, modificação, comunicação, transferência, difusão ou extração;
USUÁRIOS: quem faz uso do Sistema/software brbassessoria, incluindo clientes, parceiros ou clientes em potencial e visitantes.
Quando esta Política menciona “brbassessoria”, “nós”, “nos” ou “nosso”, bem como as variações gramaticais da primeira pessoa do plural, ela se refere à empresa brbassessoria SERVIÇOS CONTÁBEIS - EIRELI - ME, regularmente inscrita no CNPJ sob nº 17.664.581/0001-69 e à brbassessoria TECNOLOGIA LTDA – ME, inscrita no CNPJ sob o nº 17.187.385/0001-40, que é exclusiva e legítima proprietária do Sistema/Software brbassessoria, utilizado para a coleta, armazenamento e gerenciamento das informações fornecidas pelos usuários, e detentora de todo e qualquer direito relacionado a ele.
<br><br><br><br>
 

3. INFORMAÇÕES GERAIS
Esta Política cobre o Tratamento que a brbassessoria realiza das informações capazes de identificar o indivíduo quando este acessa e faz o uso do Site e Sistemas brbassessoria. A brbassessoria proporciona, assim, as informações técnicas adequadas e necessárias para que este possa, com caráter prévio, ter conhecimento e concordar com esta Política.
<br><br>
Caso o Usuário ou o Cliente não concorde com esta Política de Privacidade, não deverá utilizar os serviços. Dessa forma, o quanto estabelecido neste documento deve ser lido com atenção e, em caso de dúvida, é possível o contato direto com a brbassessoria.
<br><br>
O contato com o encarregado de proteção de dados da brbassessoria deve ser feito através do e-mail contato@brbassessoria.com.br, inserindo como assunto do e-mail “Política de Privacidade”.
<br><br>
Os nossos serviços são voltados em sua maioria para atender pessoas jurídicas. Assim, quando disponibilizamos os mesmos em razão de um contrato com o Cliente pessoa jurídica, o Controlador dos dados pessoais de terceiros, como funcionários e partes relacionadas, inseridos no Sistema/software brbassessoria será o próprio Cliente. Nestas hipóteses, a brbassessoria atuará apenas como Operadora do tratamento dos dados pessoais, executando o tratamento em nome do Controlador (o Cliente) e de acordo com as orientações por este transmitidas. É o caso por exemplo de dados de terceiros que são inseridos pelo Usuário no Sistema/software brbassessoria para fins de emissão de notas fiscais.
<br><br>
Apesar de, na maioria dos casos, atuarmos como Operadora no tratamento dos dados pessoais, em algumas situações a brbassessoria atua como Controladora. É o caso da coleta dos dados pessoais dos Clientes que sejam pessoas físicas, de representantes dos Clientes pessoas jurídicas, de visitantes do Site brbassessoria ou de Usuários vinculados às pessoas físicas. Em todos estes casos a brbassessoria é a pessoa a quem competem as decisões referentes ao tratamento dos dados pessoais destes.

<br><br><br><br>

4. DADOS PESSOAIS TRATADOS
Inicialmente, informamos que, ao preencher o formulário de cadastro e fornecer as informações à brbassessoria, o usuário declara que as informações são verdadeiras e está de acordo com o processamento de dados cadastrais, conforme estabelecido nesta Política.
<br><br>
A quantidade e os tipos de dados pessoais coletados variam conforme a natureza da relação que o titular do dado pessoal tem com a brbassessoria. Coletaremos diferentes dados caso o titular seja apenas um visitante do site, esteja solicitando uma proposta de prestação de serviços ou já fazendo uso dos serviços contratados, por exemplo.
<br><br>
Quando uma pessoa acessa o Site brbassessoria, é possível que alguns dados sejam coletados de forma automática, por meio de cookies, bem como que esta forneça alguns dados diretamente, preenchendo voluntariamente algumas informações. De forma automática, é possível a coleta dos seguintes dados: informações sobre os computadores, smartphones ou outros dispositivos que o usuário utiliza para acessar a plataforma, bem como o nome de domínio do seu provedor de acesso à internet, o endereço de protocolo IP utilizado para se conectar ao Sistema/software brbassessoria, o tipo e versão do browser, o sistema operacional, dados de falhas fatais, o tempo médio gasto e as páginas visitadas no Site brbassessoria, as páginas ou o conteúdo visualizadas, as buscas por anúncios, e as páginas acessadas antes ou após utilizar nosso site, os horários de acesso e outras estatísticas relevantes para o fornecimento de serviço.
<br><br>
Usamos também cookies e outras tecnologias semelhantes como web beacons, pixels, ferramentas de análise do navegador, registros do servidor e identificadores móveis. Em muitos casos, as informações que coletamos usando cookies e outras ferramentas são usadas apenas de forma não identificável, sem referência a informações pessoais.
<br><br>
Quando o Cliente demonstra interesse na contratação dos serviços da brbassessoria ou no relacionamento conosco, coletamos determinados dados pessoais relativos ao próprio Cliente ou do seu representante ou pessoa a ele relacionada, tais como: e-mail, nome completo, telefone, CPF/RG e endereço, estes dados são fornecidos pelo titular voluntariamente. Ademais, caso o canal escolhido pelo titular seja por meio do nosso canal de atendimento telefônico, a voz do titular será igualmente coletada.
<br><br>
Quando o Cliente realiza a contratação dos serviços da brbassessoria, para o cadastro é necessário que nos sejam encaminhadas algumas informações que podem ser do próprio Cliente, quando este for uma pessoa física, ou do seu representante ou pessoa a ele relacionada quando se tratar de um Cliente pessoa jurídica, tais como: e-mail, nome completo, telefone, CPF/RG e endereço, gênero, naturalidade, cargo, participações societárias, profissão e empresa.
<br><br>
Ademais, a depender da natureza dos serviços contratados, é possível que sejam coletados dados relativos aos funcionários, sócios e os dependentes destes, fornecedores ou prestadores de serviços dos Clientes ou de outros terceiros, tais como: nome, salário, PIS/PASEP, dados bancários e financeiros, nº de recibo de declaração IR, título de eleitor, etc.

<br><br><br><br>

5. FINALIDADES E BASES LEGAIS PARA O TRATAMENTO
Buscamos sempre manter a sua privacidade enquanto estiver utilizando o serviço contábil online!
<br><br>
Quando alguém acessa o Site brbassessoria é possível a coleta dos seus dados por meio dos cookies e de ferramentas similares indicadas acima, a finalidade do tratamento destes dados é para aprimorar a experiência do Usuário, em termos de performance e usabilidade, direcionando conteúdos às suas necessidades e expectativas.
<br><br>
Estes tratamentos são amparados nos termos da LGPD com base nos art. 7º, inciso IX da LGPD.
<br><br>
Quando o Cliente demonstra interesse na contratação dos serviços da brbassessoria, os dados pessoais são coletados para permitir o início da interação com a brbassessoria, para que se possa ter conhecimento de quais são os serviços por nós oferecidos, bem como possibilitar que se conheça melhor a própria brbassessoria, dando continuidade ao relacionamento. Estes tratamentos são amparados nos no art. 7º, incisos V e IX da LGPD. Quando o Cliente realiza a contratação dos serviços da brbassessoria, são coletados e tratados dados pessoais essenciais para a prestação dos serviços contratados pelo Cliente e para o uso do Sistema/software brbassessoria, bem como para possibilitar o pagamento pelos serviços prestados. Estes tratamentos são amparados nos termos da LGPD com base no art. 7º, inciso V da LGPD.
<br><br>
Neste sentido, parte dos dados coletados são dados cadastrais relativos ao titular ou vinculados à dados empresariais, dados para a validação e verificação da veracidade das informações fornecidas, e parte são dados relativos aos serviços, que são inseridos pelo Cliente na continuidade e execução dos serviços. Sem estas informações não é possível fornecer com excelência e de forma segura os serviços de assessoria online contábil e de assessoria online administrativa e fiscal e de licença de uso do Sistema/software brbassessoria.
Para usar os recursos da plataforma de pagamento, são igualmente tratados dados financeiros: podemos exigir o fornecimento de informações financeiras, como dados bancários, número de cartão de crédito, dados de faturamento para facilitar o processamento dos pagamentos dos serviços contratados, que ocorre através de empresa parceira designada para atividades de serviços de cobrança e remessa de valores, IUGU Serviços na Internet S/A.
<br><br>
O Serviço de Pagamento IUGU coleta informações relacionadas às suas transações de pagamento, através do Sistema/software brbassessoria, incluindo o instrumento de pagamento usado, data e hora, valor do pagamento, data de expiração do instrumento de pagamento, CEP do IUGU, informações do IBAN, endereço e outros detalhes da transação. Essas informações são necessárias para o cumprimento adequado do contrato entre o usuário e Serviço de Pagamento e para permitir o fornecimento dos Serviços de Contabilidade Online.
<br><br>
Nós coletamos ainda os dados financeiros também incluídos no sistema brbassessoria, através de importação de nota fiscal e/ou no extrato bancário, que possibilita a localização onde a nota fiscal é emitida, o banco utilizado pelo usuário, informações sobre a emissão de outro usuário de suas notas fiscais, entre outros.
Os dados pessoais podem vir a ser tratados para proporcionar ao Usuário ou o Cliente o acompanhamento e acesso a informações sobre o seu relacionamento com a brbassessoria ou a confirmação da identificação ou de veracidade das informações recebidas.
O Usuário pode optar por nos fornecer informações pessoais adicionais para obter uma melhor experiência ao usar as ferramentas do Sistema/software brbassessoria. Essas informações adicionais como, por exemplo, gênero, descrição pessoal de sócios, data de nascimento e dados e dependentes, que serão processadas com base em nosso interesse legítimo ou quando aplicável seu consentimento, nos termos da LGPD com base no art. 7º, incisos IX e I da LGPD, respectivamente.
O Usuário pode escolher importar seus contatos do catálogo de endereço ou inserir as informações de seus contatos manualmente para acessar certos recursos do Sistema/software brbassessoria, como convidar parceiros para utilizar a plataforma contábil.
Caso o Usuário opte por usar o serviço de indicações para contar a um terceiro sobre os nossos serviços, solicitaremos dados dos terceiros indicados como o nome, telefone e o endereço de e-mail desse terceiro. O Usuário só deve informar os dados pessoais de terceiro se tiver convicção razoável de que ele não objetará ao nosso contato.
<br><br>
Caso nos seja informado, armazenaremos essas informações com o objetivo de enviar um e-mail inicial de contato, acompanhando o sucesso do nosso programa de indicações e outras possíveis atividades de marketing. O indicado poderá entrar em contato com a brbassessoria para solicitar a exclusão das suas informações do nosso banco de dados.
A brbassessoria pode coletar, recolher, gravar e utilizar em conexão com outros sites e parceiros as informações cadastrais, dados que terceiros forneçam sobre os usuários do sistema contábil para fins de execução dos serviços contratados. No entanto, nós não controlamos, supervisionamos ou respondemos pelo modo como terceiros fornecem e processam suas informações e, qualquer pedido de informação envolvendo a divulgação de seus dados cadastrais.
De igual maneira podemos apresentar anúncios de terceiros e outros conteúdos com links para endereços eletrônicos de terceiros. Nestes casos, não sermos responsabilizados por práticas de privacidade e conteúdo de terceiros caso o titular opte por clicar em um anúncio ou link de terceiros. É possível quem em razão da execução contratual algum dado sensível seja compartilhado com a brbassessoria, nestes casos as bases legais para o tratamento geralmente serão as do art. 11, incisos I ou II alíneas “a”, “d” e “g”.
<br><br>
Ademais, podemos tratar os dados pessoais coletados a partir da base legal de legítimo interesse, art. 7º, inciso IX da LGPD, para:
<br><br>
fornecer, entender, melhorar e desenvolver o Site brbassessoria e o Sistema/software brbassessoria;
criar e manter um ambiente confiável e seguro, bem como cumprir nossas obrigações legais e garantir a segurança dos usuários, Clientes e de quem conosco interage detectando e evitando fraudes, spam, abuso, incidentes de seguranças e outras atividades nocivas;
personalizar, avaliar e melhorar a publicidade e o marketing para enviar aos usuários mensagens promocionais, informes publicitários e outras informações que possam ser de seu interesse com base em suas preferências;
administrar programas de indicação, pesquisas ou atividades promocionais como eventos patrocinados e oportunidades relevantes de contabilidade ou de áreas afins;
conduzir pesquisas e testar recursos em desenvolvimento e gerar relatórios e indicadores relativos às atividades;
usar as informações para oferecer os serviços de forma personalizada e aprimorando as iniciativas comerciais e promocionais, bem como envio de newsletter;
administrar os serviços prestados, aperfeiçoá-los e identificar possíveis necessidades dos usuários por meio do envio de e-mails com alertas e comunicados relacionados às funções do sistema, no intuito permitir que o Usuário explore todas as suas funcionalidades, bem como com informações relevantes à contabilidade, planejamento financeiro ou questões referentes à gestão empresarial, entre outros tipos.
Nós também nos reservamos o direito de realizar o tratamento dos seus dados pessoais quando estes forem necessários para o cumprimento de obrigação legal ou regulatória (ex. guarda de informação para o cumprimento da Lei nº 12.965, de 23 de abril de 2014, também conhecida como Marco Civil da Internet), para o exercício regular de direitos em processo judicial, administrativo ou arbitral, durante todo o prazo necessário para tanto ou com base em outras hipóteses legais previstas em leo.
<br><br><br><br>
 

6. ARMAZENAMENTO E COMPARTILHAMENTO DOS DADOS PESSOAIS
Nós não divulgamos publicamente nem compartilhamos com terceiros dados pessoais, a menos que seja necessário para atender a solicitação do Cliente, para nossas necessidades profissionais ou legítimas, ou conforme exigido ou permitido por lei.
<br><br>
Os dados pessoais por nós tratados serão armazenados pelo tempo razoável e legítimo, de acordo com a finalidade de cada tratamento e os prazos prescricionais e contratuais previstos. Caso o Cliente ou Usuário queira ter acesso aos prazos específicos de armazenamento de cada dado coletado, poderá nos solicitar. Findo o prazo estabelecido e a necessidade legal, os dados pessoais serão excluídos com uso de métodos de descarte seguro e no âmbito e nos limites técnicos das atividades, ou utilizados de forma anonimizada.
<br><br>
Caso haja solicitação, os dados poderão ser apagados antes do prazo interno de eliminação por nós estabelecido. No entanto, pode ocorrer de os dados precisarem ser mantidos em nosso banco por motivo de exercício de direitos, cumprimento de lei ou ordem judicial, prevenção à fraude, proteção ao crédito e outros interesses legítimos – se esse for o caso, nós o informaremos da não eliminação dos dados cuja exclusão tenha sido solicitada por você. Em tais hipóteses, inclusive, poderemos vir a reter suas informações mesmo que a conta à qual o seu dado está vinculado seja excluída.
<br><br>
Observamos que na prestação dos nossos serviços, o uso de subprocessadores dos dados, de parceiros de negócios e de serviços de terceiros também poderão levar ao compartilhamento dos dados pessoais que tratamos. Os dados pessoais podem ser compartilhados com provedores de meios de pagamento, bem como algumas informações relevantes para viabilizar a prestação dos serviços aos Clientes podem ser compartilhadas com sites do governo, órgãos públicos etc.
<br><br>
Qualquer compartilhamento de dado será feito sempre dentro dos limites e propósitos dos nossos negócios aqui descritos.
<br><br>
Entre os subprocessadores terceirizados que contratamos para fornecer serviços de infraestrutura, entrar em contato com você, prestar suporte, emitir cobranças e enviar notificações por e-mail, exemplificamos:
<br><br>
AMAZON WEB SERVICES (plataforma de serviços de armazenamento);
GOOGLE CLOUD (plataforma de serviços de armazenamento em nuvem);
BOX.COM (empresa que realiza o compartilhamento de arquivos online);
PIPEDRIVE, CLOSE.IO, RD STATION (serviços de CRM);
PIPEFY (Plataforma de gerenciamento de projetos e automação de fluxos de trabalho);
TAKE BLIP (plataforma para o serviço de atendimento ao cliente);
ZENDESK (plataforma para o serviço de atendimento ao cliente);
ONESIGNAL (ferramenta para notificações);
TYPEFORM (ferramenta para formulários e pesquisas);
ATENDE SIMPLES (armazenamento dos dados da central de atendimento telefônico);
55PBX (armazenamento dos dados da central de atendimento telefônico);
VONEX (ferramenta para atendimento telefônico);
IDENTITÉ (serviço de emissão de certificado digital);
IUGU (serviços de pagamento).
Em razão do uso das ferramentas acima, é possível que ocorra uma transferência internacional de dados. Ressaltamos que apenas utilizamos subprocessadores que oferecem garantias de cumprimento dos princípios, dos direitos do titular e do regime de proteção de dados previstos na nossa legislação nacional, LGPD.
<br><br>
 

7. DIREITOS DOS TITULARES
O titular pode exercer qualquer um dos direitos descritos nesta seção junto ao seu controlador de dados enviando um e-mail para contato@brbassessoria.com.br, inserindo como assunto do e-mail “Política de Privacidade”. Tenha em mente que poderemos pedir que você confirme sua identidade de forma prévia por questões de segurança do dado.
<br><br>
Os direitos dos titulares de dados pessoais são por nós respeitados e quando atuamos como controladora garantimos que a qualquer momento vocês poderão solicitar:
<br><br>
a confirmação da existência de tratamento de seus dados pessoais;
o acesso aos seus dados pessoais por nós tratados;
a correção de seus dados pessoais incompletos, inexatos ou desatualizados;
a anonimização, bloqueio ou eliminação de seus dados pessoais considerados desnecessários, excessivos ou tratados em desconformidade com o disposto na Lei Geral de Proteção de Dados;
a portabilidade dos dados pessoais para outro fornecedor de serviço ou produto, mediante requisição expressa, de acordo com a regulamentação da autoridade nacional, observados os segredos comercial e industrial;
a eliminação dos seus dados pessoais tratados com o seu consentimento, exceto nas hipóteses em que o tratamento foi realizado com amparo em base legal diversa do consentimento;
informações a respeito de com quais entidades públicas e privadas nós realizamos uso compartilhado de dados;
informações a respeito da possibilidade de não fornecer determinados consentimentos e sobre as consequências da negativa;
a revogação do consentimento.
Em caso de impossibilidade de adoção imediata das providências indicadas acima, nós enviaremos uma resposta para indicar as razões de fato ou de direito que impedem a sua adoção imediata, nos termos do art. 18º, § 4º da LGPD.
<br><br>
O Usuário poderá nos pedir a correção de informações pessoais incorretas ou incompletas e em alguns casos poderá ele mesmo por conta própria através da área do cliente no site www.brbassessoria.com.br realizar a correção.
<br><br>
O Usuário, poderá solicitar o cancelamento de sua conta e/ou realizar a exclusão de sua conta a qualquer momento, bastando fazê-lo através da plataforma, respeitadas as obrigações existentes no contrato de prestação de serviços.
<br><br>
Quando o Usuário exclui sua conta e rescinde o contrato, os dados cadastrais serão excluídos, porém são mantidas as informações de guarda obrigatória, conforme determinação legal, relacionadas a impostos, relatórios legais e auditorias.
<br><br>
Podemos reter algumas de suas informações pessoais e empresariais conforme necessário para nossos direitos e interesses legítimos, como detecção e prevenção de fraudes e melhoria da segurança no Sistema/software brbassessoria. Além disso, algumas cópias de suas informações (por exemplo, registros de log) podem permanecer em nosso banco de dados, mas são desassociadas dos identificadores pessoais. Caso o Cliente seja o controlador do seu dado pessoal, as solicitações acima devem ser dirigidas a este, e não a nós.

<br><br>

8. SEGURANÇA
Nós estamos continuamente implantando e atualizado medidas administrativas, técnicas e de segurança física e virtual para ajudar a proteger suas informações contra acesso não autorizado, perda, destruição ou alteração. Entre as proteções que usamos para defender suas informações, temos firewalls, criptografia de dados e controles de acesso a informações.
<br><br>
Entretanto, todas essas medidas não eximem que o Usuário, também tome as precauções de segurança, tanto guardando a sua senha de acesso, quanto se precavendo pela segurança de navegação na internet.
<br><br>
Se você souber ou tiver motivos para acreditar que suas informações cadastrais vinculadas ao sistema brbassessoria foram perdidas, roubadas, desviadas ou comprometidas, ou em caso de uso não autorizado, real ou suspeito, entre em contato conosco através do nosso contato oficial de número telefônico 4020-8283, ou através do e-mail contato@brbassessoria.com.br (Assunto: Perda, roubo, desvio ou comprometimento de informações cadastrais).
<br><br>
 

9. ALTERAÇÕES A ESTA POLÍTICA DE PRIVACIDADE
A brbassessoria se reserva ao direito de modificar esta Política de Privacidade a qualquer momento de acordo com esta provisão. Caso façamos alterações nesta Política de Privacidade, nós publicaremos a Política de Privacidade revisada no site www.brbassessoria.com.br e atualizaremos a data da “Última Atualização” no final desta Política de Privacidade.
<br><br>
Também enviaremos aos Usuários, por e-mail, uma notificação sobre a alteração da Política de Privacidade, com pelo menos 30 (trinta) dias de antecedência. Caso o usuário não concorde com a Política de Privacidade revisada, deverá informar tão logo tome ciência da alteração, de modo a viabilizar uma regular rescisão contratual entre as partes, observados sempre o contrato de prestação de serviços e a política de armazenamento de informações vigentes no presente momento. Em caso de inércia, o silêncio e permanência do usuário ao Sistema/software brbassessoria, constituirá na aceitação da nova Política de Privacidade.

 
<br><br>
10. IDENTIFICAÇÃO DO ENCARREGADO
João é a encarregada pelo tratamento de dados pessoais. Em caso de dúvidas sobre a Política de Privacidade ou sobre as práticas de manuseio de informações do Sistema/software brbassessoria, você pode entrar em contato com a Encarregada por meio do e-mail: contato@brbassessoria.com.br com o assunto LGPD.
<br><br>
Data da última revisão: 05 de agosto de 2023.
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Fechar</button>
</mat-dialog-actions>
