

@import url("assets/css/bootstrap.min.css");
@import url("assets/css/fontawesome-all.min.css");
@import url("assets/css/venobox.css");
@import url("assets/css/swiper.min.css");
@import url("assets/css/style.css");
@import url("https://unpkg.com/aos@2.3.1/dist/aos.css");
@import url("assets/css/output.css");

@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.mat-stepper-previous{
  border-radius:1.2rem;
  background:#b3e1df!important;
  }
  .mat-stepper-next{
    border-radius:1.2rem;
    margin-bottom:1rem;
  }
