<form [formGroup]="form">
  <kt-portlet class="mb-5">
    <kt-portlet-header [title]="'Cadastrar empresa'" [class]="'card-head-lg'">
      <ng-container ktPortletTools>
        <a (click)="voltar()" class="btn btn-secondary mr-2" [disabled]="carregando" mat-raised-button
          matTooltip="Voltar para lista de empresa">
          <i class="la la-arrow-left"></i>
          <span class="hidden-mobile">Voltar</span>
        </a>
        <a href="javascript:void(0);" class="btn btn-primary mr-2" [disabled]="!isFormValid() || carregando"
          color="primary" (click)="submit()" mat-raised-button matTooltip="Salvar as informações">
          <span class="hidden-mobile">Salvar</span>
        </a>
      </ng-container>
    </kt-portlet-header>

    <kt-portlet-body>
      <mat-spinner *ngIf="carregando" [diameter]="20"></mat-spinner>

      <div class="row" *ngIf="!carregando">
        <div class="col-md-12">
          <kt-alert *ngIf="hasFormErrors" type="warn" [duration]="30000" (close)="onAlertClose()">
            {{msgFormError}}
          </kt-alert>
        </div>
      </div>

      <div class="row" *ngIf="!carregando" formGroupName="pessoa">
        <div class="col-md-6">
          <mat-form-field class="mat-form-field-fluid" appearance="fill">
            <mat-label>Nome fantasia</mat-label>
            <input matInput formControlName="nomefantasia" />
            <mat-error *ngIf="isControlHasError('nomefantasia', 'required', true, 'pessoa')">
              Nome fantasia é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="mat-form-field-fluid" appearance="fill">
            <mat-label>Razão social</mat-label>
            <input matInput formControlName="razaosocial" />
            <mat-error *ngIf="isControlHasError('razaosocial', 'required', true, 'pessoa')">
              Razão social é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row" *ngIf="!carregando">
        <div class="col-md-6" formGroupName="pessoa">
          <mat-form-field class="mat-form-field-fluid" appearance="fill">
            <mat-label>CPF/CNPJ</mat-label>
            <input matInput formControlName="cpfcnpj" mask="CPF_CNPJ" />
            <mat-error *ngIf="isControlHasError('cpfcnpj', 'required', true, 'pessoa')">
              CPF/CNPJ é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="mat-form-field-fluid" appearance="fill">
            <mat-label>Inscrição Estadual</mat-label>
            <input matInput formControlName="inscricaoEstadual" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="mat-form-field-fluid" appearance="fill">
            <mat-label>Inscrição Municipal</mat-label>
            <input matInput formControlName="inscricaoMunicipal" />
            <mat-error *ngIf="isControlHasError('inscricaoMunicipal', 'required')">
              Inscrição Municipal é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row" *ngIf="!carregando">
        <div class="col-md-1">
          <mat-form-field class="mat-form-field-fluid" appearance="fill">
            <mat-label>DDD</mat-label>
            <input matInput formControlName="ddd" mask="(00)" />
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="mat-form-field-fluid" appearance="fill">
            <mat-label>Telefone</mat-label>
            <input matInput formControlName="telefone" mask="0000-0000||0 0000-0000" />
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="mat-form-field-fluid" appearance="fill">
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="email" />
          </mat-form-field>
        </div>
        <div class="col-md-5">
          <mat-form-field class="mat-form-field-fluid" appearance="fill">
            <mat-label>Contato</mat-label>
            <input matInput formControlName="contato" />
            <mat-error *ngIf="isControlHasError('contato', 'required')">
              Contato é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </kt-portlet-body>
  </kt-portlet>

  <kt-portlet *ngIf="!carregando">
    <kt-portlet-body>
      <mat-tab-group [(selectedIndex)]="selectedTab" dynamicHeight>
        <mat-tab>
          <ng-template mat-tab-label>
            <i class="mat-tab-label-icon fa fa-address-book"></i>
            Endereço
          </ng-template>
          <ng-template matTabContent>
            <div class="row">
              <div class="col-md-3">
                <mat-form-field class="mat-form-field-fluid" appearance="fill">
                  <mat-label>CEP</mat-label>
                  <input matInput formControlName="cep" mask="00.000-000" (blur)="getCepCorreios()" />
                  <mat-error *ngIf="isControlHasError('cep', 'required')">
                    CEP é <strong>obrigatório</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3">
                <mat-form-field class="mat-form-field-fluid" appearance="fill">
                  <mat-label>Estado</mat-label>
                  <mat-select formControlName="estado">
                    <mat-option>Nenhum</mat-option>
                    <mat-option value="AC">AC</mat-option>
                    <mat-option value="AL">AL</mat-option>
                    <mat-option value="AP">AP</mat-option>
                    <mat-option value="AM">AM</mat-option>
                    <mat-option value="BA">BA</mat-option>
                    <mat-option value="CE">CE</mat-option>
                    <mat-option value="DF">DF</mat-option>
                    <mat-option value="ES">ES</mat-option>
                    <mat-option value="GO">GO</mat-option>
                    <mat-option value="MA">MA</mat-option>
                    <mat-option value="MT">MT</mat-option>
                    <mat-option value="MS">MS</mat-option>
                    <mat-option value="MG">MG</mat-option>
                    <mat-option value="PA">PA</mat-option>
                    <mat-option value="PB">PB</mat-option>
                    <mat-option value="PR">PR</mat-option>
                    <mat-option value="PE">PE</mat-option>
                    <mat-option value="PI">PI</mat-option>
                    <mat-option value="RJ">RJ</mat-option>
                    <mat-option value="RN">RN</mat-option>
                    <mat-option value="RS">RS</mat-option>
                    <mat-option value="RO">RO</mat-option>
                    <mat-option value="RR">RR</mat-option>
                    <mat-option value="SC">SC</mat-option>
                    <mat-option value="SP">SP</mat-option>
                    <mat-option value="SE">SE</mat-option>
                    <mat-option value="TO">TO</mat-option>
                  </mat-select>
                  <mat-error *ngIf="isControlHasError('estado', 'required')">
                    Estado é <strong>obrigatório</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="mat-form-field-fluid" appearance="fill">
                  <mat-label>Cidade</mat-label>
                  <input matInput autocomplete="chrome-off" formControlName="municipio" />
                  <mat-error *ngIf="isControlHasError('municipio', 'required')">
                    Cidade é <strong>obrigatório</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-5">
                <mat-form-field class="mat-form-field-fluid" appearance="fill">
                  <mat-label>Bairro</mat-label>
                  <input matInput formControlName="bairro" />
                  <mat-error *ngIf="isControlHasError('bairro', 'required')">
                    Bairro é <strong>obrigatório</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-7">
                <mat-form-field class="mat-form-field-fluid" appearance="fill">
                  <mat-label>Logradouro</mat-label>
                  <input matInput formControlName="endereco" />
                  <mat-error *ngIf="isControlHasError('endereco', 'required')">
                    Logradouro é <strong>obrigatório</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-form-field class="mat-form-field-fluid" appearance="fill">
                  <mat-label>Número</mat-label>
                  <input matInput formControlName="numero" />
                  <mat-error *ngIf="isControlHasError('numero', 'required')">
                    Número é <strong>obrigatório</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="mat-form-field-fluid" appearance="fill">
                  <mat-label>Complemento</mat-label>
                  <input matInput formControlName="complemento" />
                </mat-form-field>
              </div>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <i class="mat-tab-label-icon fas fa-certificate"></i>
            Outros
          </ng-template>
          <ng-template matTabContent>
            <div class="row">
              <div class="col-md-3">
                <mat-form-field class="mat-form-field-fluid" appearance="fill">
                  <mat-label>Certificado</mat-label>
                  <ngx-mat-file-input formControlName="certificado" [accept]="'.pfx'">
                  </ngx-mat-file-input>
                  <mat-icon matSuffix>folder</mat-icon>
                  <mat-error *ngIf="isControlHasError('certificado', 'required')">
                    Certificado é <strong>obrigatório</strong>
                  </mat-error>
                  <mat-hint>{{this.certificadoName}}</mat-hint>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="mat-form-field-fluid" appearance="fill">
                  <mat-label>Senha certificado</mat-label>
                  <input matInput formControlName="certificadoSenha" />
                  <mat-error *ngIf="isControlHasError('certificadoSenha', 'required')">
                    A senha do certificado é <strong>obrigatório</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="mat-form-field-fluid" appearance="fill">
                  <mat-label>Regime tributário</mat-label>
                  <mat-select formControlName="regimeTributario">
                    <mat-option *ngFor="let dado of regimeTributarioEnum" [value]="dado.value">
                      {{dado.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="mat-form-field-fluid" appearance="fill">
                  <mat-label>Regime tributário especial</mat-label>
                  <mat-select formControlName="regimeTributarioEspecial">
                    <mat-option *ngFor="let dado of regimeTributarioEspecialEnum" [value]="dado.value">
                      {{dado.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="mat-form-field-fluid" appearance="fill">
                  <mat-label>App key</mat-label>
                  <input matInput formControlName="appKey" />
                  <mat-error *ngIf="isControlHasError('appKey', 'required')">
                    A chave do aplicativo é <strong>obrigatória</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="mat-form-field-fluid" appearance="fill">
                  <mat-label>App secret</mat-label>
                  <input matInput formControlName="appSecret" />
                  <mat-error *ngIf="isControlHasError('appSecret', 'required')">
                    O chave de segredo é <strong>obrigatória</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-md-4">
                <mat-slide-toggle class="my-2" formControlName="simplesNacional">Simples Nacional</mat-slide-toggle>
                <br>
                <mat-slide-toggle class="my-2" formControlName="incentivoFiscal">Incentivo Fiscal</mat-slide-toggle>
                <br>
                <mat-slide-toggle class="my-2" formControlName="incentivadorCultural">Incentivo Cultural
                </mat-slide-toggle>
              </div>
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </kt-portlet-body>
  </kt-portlet>
</form>